### install langchain and import  googlepalm form langchain 


### generate your own api_key

In [27]:
from langchain.llms import GooglePalm

api_key = 'api_key'
llm = GooglePalm(google_api_key=api_key, temperature=0.2)

### connect your database to jupiternote book

In [33]:
from langchain.utilities import SQLDatabase

db_user = "root"
db_password = 'elangoes11'
db_host = "127.0.0.1"
db_name = "hospitaldetails"

db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}", sample_rows_in_table_info=3)
print(db.table_info)

CREATE TABLE hospitalpatient (
	`ID` INTEGER NOT NULL AUTO_INCREMENT,
	`Name` VARCHAR(100),
	`Age` INTEGER,
	`Gender` VARCHAR(10),
	`AdmissionDate` DATE,
	`HospitalName` VARCHAR(100),
	`HospitalAddress` VARCHAR(255),
	`HospitalCity` VARCHAR(100),
	`HospitalState` VARCHAR(15),
	`HospitalZipCode` VARCHAR(10),
	PRIMARY KEY (`ID`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from hospitalpatient table:
ID	Name	Age	Gender	AdmissionDate	HospitalName	HospitalAddress	HospitalCity	HospitalState	HospitalZipCode
1	Patient_1	44	Female	2024-07-03	Mayo Clinic	 Example st2	New York City	New york	12345
2	Patient_2	59	Female	2024-01-16	Johns Hopkins Hospital	 Example St1	Los Angeles	California	12347
3	Patient_3	75	Female	2024-01-15	Mayo Clinic	 Example St1	New York City	New york	12347
*/

In [37]:
from langchain_experimental.sql import SQLDatabaseChain

db_chain = SQLDatabaseChain.from_llm(llm, db , verbose=True)
qns1 = db_chain.run("how many boys are in hospital mayo clinic")

> Entering new SQLDatabaseChain chain...
how many boys are in hospital mayo clinic
SQLQuery:SELECT COUNT(*) FROM hospitalpatient WHERE HospitalName = 'Mayo Clinic' AND Gender = 'Male'
SQLResult: [(49,)]
Answer:49
> Finished chain.

In [35]:
qns2 = db_chain.run("How many girls are admitted in the hospital mayo clinic ")

> Entering new SQLDatabaseChain chain...
How many girls are admitted in the hospital mayo clinic
SQLQuery:SELECT count(*) FROM hospitalpatient WHERE Gender = 'Female' AND HospitalName = 'Mayo Clinic'
SQLResult: [(53,)]
Answer:53
> Finished chain.

In [36]:
qn3 = db_chain.run('How many boys are in california hospital ')

> Entering new SQLDatabaseChain chain...
How many boys are in california hospital
SQLQuery:SELECT COUNT(*) FROM hospitalpatient WHERE Gender = 'Male' AND HospitalState = 'California'
SQLResult: [(51,)]
Answer:51
> Finished chain.

In [39]:
qns4 = db_chain.run('how many boys and girls in new york hospital')

> Entering new SQLDatabaseChain chain...
how many boys and girls in new york hospital
SQLQuery:SELECT COUNT(Gender) AS Boys, COUNT(Gender) AS Girls FROM hospitalpatient WHERE HospitalCity = 'New York City' AND Gender IN ('Male', 'Female') GROUP BY Gender
SQLResult: [(51, 51), (48, 48)]
Answer:51, 51
> Finished chain.